In [1]:
import pandas as pd
import numpy as np
from dateutil import tz
import math

In [6]:
df_atp_info = pd.read_csv('./atp_info.csv')
df_player_info = pd.read_csv('./players_info.csv')

In [5]:
df_atp_info.shape

(44065, 33)

In [7]:
df_player_info.shape

(1500, 35)

In [9]:
df_player_info.head(1)

,id,rank,name,nat,age,birth,turned_pro,weight,height,plays,...,re_games_won,re_points_won,total_points_won,prize,prize_year,score,score_year,coach,place_birth,residence
0,0,1,RafaelNadal,ESP,32.0,1986.06.03,2001.0,85.0,185.0,"Left-Handed,Two-Handed",...,34.0,42.0,54.0,102326975,7738347.0,913-188,40-3,"CarlosMoya,FranciscoRoig","Manacor,Mallorca,Spain","Manacor,Mallorca,Spain"

In [13]:
df_player_info['age'].isna().value_counts()

False    1496
True        4
Name: age, dtype: int64